.Title{
    text-align: center;
    margin-top: 10px;
}

#list{
    background-color: #7CC3B6;
    border: 2px solid black;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    padding: 3px;
    margin-top: 20px;
    max-height: 60%;
    display: flex;
    flex-flow: column nowrap;
}
    #list > h2 {
        flex: 1 1 auto;
        margin-top: 10px;
    }
    #products {
        flex: 1 1 auto;
        margin: 20px 15px;
        overflow: auto;
        display: flex;
        flex-flow: column nowrap; 

    }
        #products > div {
            flex: 1 1 auto;
            display: flex;
            flex-flow: row nowrap;
            padding: 15px 25px; 
            border: solid black 2px;
            background-color: orange;
            margin: 10px;
            justify-content: space-between;
            text-align: left;
        }


#accept_purch{
    padding: 2px;
    margin: 1%;
    font-weight: 400;
    color: white;
    background-color: #31BE3F;
    border: 1px solid white;
}

#price, #accept_purch{
    font-size: large;
}



