#log_in{
    text-align: center;
    padding: 1%;
    background-color: #7CC3B6;
    border: 3px solid black;
    border-radius: 20px;
    margin-top: 20px;
}

#log_in > p{
    text-align: left;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

#log_in > input{
    width: 92%;
    margin-left: 4%;
    margin-right: 4%;
    font-size: large;
}

.class_lb{
    text-align: center;
}

#log_button{
    margin-top: 1%;
    padding: 1%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 16;
    border: 2px solid white;
    background-color: #AF2092;
    color: white;
}
